build/
classes/
dist/
docs/
bootstrap/
lib/
tests/build/
tests/classes/
tests/out_ant/
tests/out_C/
tests/out_C#/
tests/out_C++/
tests/out_default/
tests/out_proto/
tests/output/
/.fudge-proto-gitignore
/MANIFEST.MF
